<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dao.UserDao">
    <resultMap type="User" id="userResult">
        <result property="id" column="id"/>
        <result property="userName" column="userName"/>
        <result property="password" column="password"/>
    </resultMap>

    <insert id="add"  parameterType="User">
        insert into t_user values(null,#{userName},#{password})
    </insert>

    <delete id="delete" parameterType="Integer">
      delete from  t_user where id=#{id}
    </delete>

    <select id="selectAll" parameterType="User" resultType="userResult">
        select * from t_user;
    </select>
</mapper>